always-auth=true
@uxdprotocol:registry=https://npm.pkg.github.com/uxdprotocol/
//npm.pkg.github.com/:_authToken=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
//npm.pkg.github.com/uxdprotocol/:_authToken=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
registry=https://registry.npmjs.org